.background{
    width: 450px;
    height: 290px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button{
    width: 100px;
    height: 100px;
    background-color:greenyellow;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
}

span{
    font-size: 20px;
    font-weight: bold;
}

h1{
    position: absolute;
    top: 0;
}

.button-panel{
    position: absolute;
    bottom: 0;
}